{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<style>
    body{
        background-color: #1F2739;
    }

    .setts {
        color: #fff;
        text-align: center; /* Center align the content */
        margin-top: 50vh; /* Move the content down by half of the viewport height */
        transform: translateY(-50%); /* Adjust vertically to center */
    }
</style>
<body>
    <div class="setts">
        <h1>Profile Page Comming soon...</h1>
    </div>
</body>
{% endblock content %}
</html>